
.normal-button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    font-size: 0.96em;
}

.block {
    padding: 1vw 1vw 1vw 1vw;
    background-color: whitesmoke;
}

button:hover {
    border-color: #1b5f81;
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
}

.general-container {
    display: flex;
    justify-content: flex-start;
}

.roles-container {
    justify-content: flex-end;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 1vw 1vw 1vw 1vw;
}

.pole {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    width: 325px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
}

.hide {
    display: none;
}

.error-class {
    border: 2px solid red;
}

.errors {
    color: red;
}

#avatar {
    width: 25vw;
    padding: 0vw 1vw 1vw 0vw;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-size: 1.0em;
}

a:link {
    color: #d5d8e0;
}

a:hover {
    border-bottom: 1px solid;
    background: #b6b9bf;
}

a:active {
    background: #bbbec7;
    color: #626366;
}

table {
    margin-top: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
  }
  td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
  }
  tr:hover td {
    color: #6699ff;
  }

#firstName-err1{
    color: rgb(249, 248, 248);
    display: none;
}